// =============================================================================
// Header
// =============================================================================

header {
  display: block;
  padding: 125px 15px;
  text-align: center;
  background: $brand-info;

  h4 {
    display: inline-block;
    max-width: 600px;
  }
}

.header-logo {
  display: inline-block;
  width: 300px;
  margin-bottom: 25px;
}

.header-sub {
  display: block;
  padding: 50px 0;
  text-align: center;
  background: $gray-lightest;

  code {
    display: inline-block;
    padding: 20px;
    color: $white;
    background: $gray-darker;
    border-radius: $base-border-radius;
  }

  h6 { margin-bottom: 15px; }
}

.header-actions {
  display: block;
  margin-top: 35px;
  text-align: center;

  .button {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
}

@include breakpoint(extra-small) {
  header { height: 450px; }

  .header-logo {
    width: 250px;
    margin-top: 20px;
  }
}
